body {
  background: url("https://www.transparenttextures.com/patterns/brushed-alum.png");
}
.welcomeScreen {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header {
  padding-top: 1em;
  padding-left: 1em;
}
.loginSegment {
  text-align: center;
  margin: 2em;
}
.loginSegment button {
  width: 30em !important;
  text-align: center !important;
}
.list {
  width: 350px;
  margin: 0 auto;
}

.scroller {
  margin: 0 auto;
  height: 300px;
  width: 300px;
  overflow: auto;
}

.item {
  margin: 30px 0;
}
.orderList {
  float: right;
  margin-left: -50%;
  margin-top: 2em;
  margin-right: 1em;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
.newEntry {
  margin-top: 2em;
  margin-left: 2em;
}
.currentSelection {
  margin-top: 3em;
}

.editButton {
  margin-top: 1em;
}
