body {
  padding: 2em;
}
.welcomeScreen {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.loginSegment {
  text-align: center;
  margin: 2em;
}
.loginSegment button {
  width: 30em !important;
  text-align: center !important;
}
